.game {
    font-family: monospace;
    background-color: #333;
    border: 3px solid #fff;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.game h1 {
    font-size: 1.75em;
    margin-bottom: 10px;
    text-align: center;
}
  
.game p {
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 50%;
}

.game-choices {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-choices button {
    width: 95%;
    height: fit-content;
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.game button:hover {
    background-color: #fff;
    color: #000;
}

.level-pic-container {
    height: 55%;

}

.level-pic {
    height: 100%;
    
}

.progress-bar {
    display: flex;
    background-color: #fff;
    border: 3px solid white;
    list-style-type: none;
}

.progress {
    width: 12px;
    height: 12px;
    margin-right: 4px;;
}

.filled {
    background-color: black;
}