.game {
    font-family: monospace;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}
  
.game h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
  
.game p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.game-choices {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.game-choices button {
    width: 95%;
    height: fit-content;
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.game button:hover {
    background-color: #fff;
    color: #000;
}

.level-pic {
    height: 25%;
}