.menu {
    margin-top: 15px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid #fff;
    background-color: #333;
    color: #fff;
}
  
.menu h1 {
    font-size: 2.25em;
    margin-bottom: 10px;
    text-align: center;
}

.menu-subcontainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button-container {
    display: flex;
    justify-content: space-between;
    
}
  
.menu button {
    font-family: "Courier New", monospace;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.menu button:hover {
    background-color: #fff;
    color: #000;
}

.game-desc {
    width: 75%;
    margin-bottom: 25px;
}

.menu-img-container {
    height: 55%;
}

.menu-pic {
    height: 100%;
}

@media screen and (max-width: 500px) {
  .menu {
    width: 95vw;
    height: 95vh;
  }

  .menu-subcontainer {
    width: 100%;
  }

  .menu-img-container {
    max-height: 20%;
  }
}
  
@media screen and (min-width: 501px) and (max-width: 1000px) {
  .menu {
    width: 70%;
    height: 100vh;
  }
}
  
@media screen and (min-width: 1001px) {
  .menu {
    width: 50%;
  }
}