.settings {
    margin-top: 15px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid #fff;
    background-color: #333;
    color: #fff;
}
  
.settings h1 {
    font-size: 2.25em;
    margin-bottom: 10px;
    text-align: center;
}

.difficulty-container {
    display: flex;
}

.settings-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.settings-button {
    font-family: "Courier New", monospace;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.selected {
    background-color:#fff;
    color: #000;
}

.back {
    border: 3px solid #fff;
}


